:root{
  --gradient: linear-gradient(45deg, rgba(100,72,254,1)0%, rgba(96,5,148,1)55%);
  --error-red: hsl(0, 100%, 66%);
  --dark-violet: hsl(278, 68%, 11%);
}


#root {
  max-width: 1536px;
  font-family: 'Space Grotesk', sans-serif;
}

.App{
  min-width:375px;
  overflow-y: hidden;
}
/*FormInput state styling*/
.FormState{
  display:block;
}

.FormState,.FormCompleteState{
  width:350px;
  color:var(--dark-violet);
}

input[type=submit]{
 background-color: var(--dark-violet);
}

.inputs:focus{
  outline-width: 0.2rem;
}

.expireDate{
  width: 48%;
}

/*FormCompleteState styling*/

.FormCompleteState{
  text-align: center;
  display: none;
}

.FormCompleteState img{
  margin: 0 auto;
}

.FormCompleteState input,.cvc-input{
  width:100%;
}

/*DecorationComponent styling*/
.DecorationComponent{
  background:url("./images/bg-main-mobile.png") ;
 
}

@media only screen and (min-width: 1024px){
  .App{
  height: 100vh;
 
  }
  .DecorationComponent{
  background:url("./images/bg-main-desktop.png");
  }
}

.bankCardFrontStyle{
  background: url("./images/bg-card-front.png");
  background-size: cover;
}

.bankCardBackStyle{
  background: url("./images/bg-card-back.png");
  background-size: cover;
  background-position: center;
}

.errorRed{
  color:var(--error-red);
}