:root{
  --gradient: linear-gradient(45deg, rgba(100,72,254,1)0%, rgba(96,5,148,1)55%);
  --error-red: hsl(0, 100%, 66%);
  --dark-violet: hsl(278, 68%, 11%);
}

#root {
  max-width: 1280px;
  font-family: 'Space Grotesk', sans-serif;
}

.formState,.FormCompleteState{
  width:300px;
  color:var(--dark-violet);
}


input[type=submit]{
 background-color: var(--dark-violet);
}

.inputs:focus{
  outline:2px solid var(--dark-violet);
}

.FormCompleteState{
  text-align: center;
}

.FormCompleteState img{
  margin: 0 auto;
}

.FormCompleteState input{
  width:100%;
}